body {
  font-family: "Lato", sans-serif;
  color: #747704;
  font-weight: 300;
}

.logo {
  margin-top: 15px;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-supper {
  font-size: 48px;
}

@media screen and (max-width: 400px) {
  .logo {
    width: 100%;
  }

  .logo img {
    display: block;
    margin: auto;
  }

  .name {
    width: 100%;
    text-align: center;
  }
}
